

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  min-height: 5000vh;
  background-color: slategrey;
}
.nav {
  display: flex;
}
.site-title {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}
.site-title:hover{
  transform: scale(1.5);
}
.nav-list {
  display: flex;
  align-items: center;
  max-width: 720px;
  list-style: none;
}
.nav-item {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  transition: transform .2s;
}
.nav-item:hover{
  transform: scale(1.5);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  grid-gap: 5px;
  box-sizing: border-box;
  /* height: 200px; */
  width: 100%;
  padding: 10px;
}

.card {
  /* flex: 21%;
  margin: 5px;
  height: 100%;
  max-width: 25%; */
  /* display: flex; */

  /* flex: auto; */
  /* display: flexbox; */

  /* justify-content: space-between;
  align-items: stretch;
  margin: 10px;
  border-radius: 2px;
  border-color: black; */

  padding: 20px;
  border: 1px solid #000000;
  /* min-width: 260px; */
  max-width: 300px;
  min-width: 296px;
  border-radius: 25px;
  background: #fff1c3;
  margin-top: 20px;
}

.card-title {
  /* display: flexbox; */
  /* max-width: fit-content; */
  justify-content: center;
  /* flex-grow: 1; */
  min-height: 45px;
}

.card-image {
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #000000;

}

.card-author {
  min-height: 40px;
}

.card-details {
  min-height: 60px;
  min-width: 200px;
}

.card-button {
  /* max-width: fit-content;
  max-height: 25px; */
  margin: auto;
  position: relative;
}

.div-button {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}
.div-button:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.featured-books {
  padding-top: 20px;
}


/* .card-content {
  flex: 21%;
  margin: 5px;
  height: 100%;
  max-width: 25%;
} */


/* .card-content {
  display: flex;
  flex-direction: horizontal;
  order: 4;
} */